detail-task-modal {
  ion-header {
    background-color: #ffffff;
    ion-title {
      padding: 15px 0;
      display: inline-flex !important;
    }
    ion-icon {
      margin-top: 13px;
      font-size: 26px;
    }
  }
  .comments-button {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  span {
    font-weight: 700;
    color: #505154;
  }
  .grid {
    padding: 0;
  }

}
